# Laboratorio finale - Analisi di un dataset immobiliare
## Frattini Francesco e Fiocchi Gabriele

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

In [ ]:
dataset = pd.read_csv("Italian_house_price.csv")

/tmp/ipykernel_69098/3134894388.py:1: DtypeWarning: Columns (23,24,25,26,27,29,30,31,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv("Italian_house_price.csv")

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37087 entries, 0 to 37086
Data columns (total 37 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   prezzo                                        37087 non-null  object
 1   stanze                                        37071 non-null  object
 2   m2                                            36937 non-null  object
 3   bagni                                         36556 non-null  object
 4   piano                                         36375 non-null  object
 5   description                                   37082 non-null  object
 6   Riferimento e Data annuncio                   37087 non-null  object
 7   contratto                                     37087 non-null  object
 8   tipologia                                     37087 non-null  object
 9   superficie                                    35946 non-null  object
 10  locali                                        35814 non-null  object
 11  totale piani edificio                         34354 non-null  object
 12  disponibilità                                 29485 non-null  object
 13  other_characteristics                         28512 non-null  object
 14  citta                                         37080 non-null  object
 15  quartiere                                     35154 non-null  object
 16  href                                          37087 non-null  object
 17  regione                                       37087 non-null  object
 18  Posti Auto                                    19661 non-null  object
 19  via                                           18889 non-null  object
 20  unità                                         1012 non-null   object
 21  Data di inizio lavori e di consegna prevista  1048 non-null   object
 22  Uso edificio attuale                          254 non-null    object
 23  altre caratteristiche                         8575 non-null   object
 24  spese condominio                              6086 non-null   object
 25  cauzione                                      8575 non-null   object
 26  stato                                         8013 non-null   object
 27  Efficienza energetica                         6131 non-null   object
 28  anno di costruzione                           3761 non-null   float64
 29  riscaldamento                                 6336 non-null   object
 30  Climatizzatore                                4044 non-null   object
 31  certificazione energetica                     1981 non-null   object
 32  Indice prest. energetica rinnovabile          197 non-null    object
 33  Prestazione energetica del fabbricato         795 non-null    object
 34  spese aggiuntive                              9 non-null      object
 35  Dati catastali                                161 non-null    object
 36  Altri dati catastali                          77 non-null     object
dtypes: float64(1), object(36)
memory usage: 10.5+ MB

In [ ]:
print(dataset['superficie'])
print(dataset['m2'])

0         67 m² - Vedi dettaglio
1         75 m² - Vedi dettaglio
2                         160 m²
3                         136 m²
4        105 m² - Vedi dettaglio
                  ...
37082    110 m² - Vedi dettaglio
37083                     180 m²
37084     70 m² - Vedi dettaglio
37085     55 m² - Vedi dettaglio
37086                     176 m²
Name: superficie, Length: 37087, dtype: object
0         67m²
1         75m²
2        160m²
3        136m²
4        105m²
         ...
37082    110m²
37083    180m²
37084     70m²
37085     55m²
37086    176m²
Name: m2, Length: 37087, dtype: object

In [ ]:
columns_to_drop = [9, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]
dataset = dataset.drop(dataset.columns[columns_to_drop], axis = 1)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37087 entries, 0 to 37086
Data columns (total 19 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   prezzo                       37087 non-null  object
 1   stanze                       37071 non-null  object
 2   m2                           36937 non-null  object
 3   bagni                        36556 non-null  object
 4   piano                        36375 non-null  object
 5   description                  37082 non-null  object
 6   Riferimento e Data annuncio  37087 non-null  object
 7   contratto                    37087 non-null  object
 8   tipologia                    37087 non-null  object
 9   locali                       35814 non-null  object
 10  totale piani edificio        34354 non-null  object
 11  disponibilità                29485 non-null  object
 12  other_characteristics        28512 non-null  object
 13  citta                        37080 non-null  object
 14  quartiere                    35154 non-null  object
 15  href                         37087 non-null  object
 16  regione                      37087 non-null  object
 17  Posti Auto                   19661 non-null  object
 18  via                          18889 non-null  object
dtypes: object(19)
memory usage: 5.4+ MB